*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  //   cursor: url("/img/my-cursor.png"), auto;
  margin: 0;
  padding: 0;
  font-family: "SUIT-Regular", "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Element Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
  &:focus {
    outline: none;
    border: none;
  }
}

.App {
  padding: 1.125rem 0 0;
}

.navbar {
  width: 100%;
  padding: 1.25rem;
}

.mypage {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 1.875rem;
  .cart {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 500;
  }
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  cursor: pointer;

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    background: url(../assets/icon/login-icon.png) no-repeat center / 100% 100%;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
  }
}

.logo {
  margin: 1.875rem auto;
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    cursor: pointer;
  }
}

.gnb {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  li {
    width: fit-content;
    min-width: fit-content;
    padding: 1rem;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    &:hover {
      color: #0bb5c7;
      transition: all 0.7s;
    }
  }
}

.search-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.search-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  border-bottom: 1px solid #000;
  .icon {
    width: 2.5rem;
    height: 2.5rem;
    background: url(../assets/icon/search-icon.png) no-repeat center / 100% 100%;
  }

  input {
    width: 200px;
    height: 25px;
    background: transparent;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-container {
  width: 80rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

//카드컴포넌트
.card {
  width: calc((100% - 0.9375rem) / 4);
  margin-bottom: 1.25rem;
  position: relative;
  .imgContainer {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 1.25rem;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #8c8a8a;
  }

  .name,
  .price {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .new {
    color: #f00;
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    font-style: italic;
  }
}

.login {
  width: 340px;
  margin: 6.25rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  form {
    width: 100%;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 8px;
    &.login-title {
      font-size: 1.875rem;
      margin-bottom: 1.875rem;
    }
  }

  input {
    background: transparent;
    border-bottom: 2px solid #000;
    width: 100%;
    margin-bottom: 20px;
    height: 1.875rem;
    font-size: 1rem;
    line-height: 1.5rem;
    caret-color: #0bb5c7;
    &::placeholder {
      color: #8c8a8a;
      font-size: 0.875rem;
    }
    &:focus {
      border-bottom: 2px solid #0bb5c7;
    }
  }
}

.btn-login,
.add-cart {
  width: 100%;
  background: #ededed;
  height: 50px;
  font-weight: 700;
  margin-top: 60px;
  &:hover {
    background: #0bb5c7;
    color: #fff;
  }
}

.detail-product {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  .img-container {
    width: 400px;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.right-info {
  width: 300px;
  .name,
  .price {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
  }
}

.cart-page {
  width: 100%;
}

@media (max-width: 1280px) {
  .inner-container {
    width: 100%;
    padding: 1.25rem;
  }
  .card {
    width: calc((100% - 10px) / 3);
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 1.25rem;

    .imgContainer {
      width: 100%;
      height: 80vw;
    }
  }
}

.cart-page {
  width: 100%;
  padding: 3.125rem;
}

.page-title {
  font-size: 1.875rem;
  font-weight: 700;
}

.table {
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
  margin-top: 1.875rem;

  .top-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #121212;
    height: 3.125rem;
    text-align: left;
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #121212;
    padding: 1.25rem 0.625rem;
    .thumbnail {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 18px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.title {
  width: 15%;
  max-width: 15%;

  .item {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #8c8a8a;
  }
}

.table {
  .row {
    text-align: left;
  }
  .option {
    width: 10%;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #000;
  }

  .name,
  .price {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #000;
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  button {
    border: 1px solid #ededed;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 10px;
  }
}

.remove {
  border: 1px solid #ccc;
  width: 6.25rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5625rem;
}

.empty-message {
  text-align: center;
  width: 100%;
}
